<footer>
  <div class="rodape limite-largura">
    <div class="rodape-conteudo">
      <h2>Contato</h2>
      <div>
        <img src="assets/imagens/local.png" title="Ícone local" alt="Ícone local">
        <span>Rio de Janeiro, RJ</span>
      </div>
      <div>
        <img src="assets/imagens/telefone.png" title="Ícone telefone" alt="Ícone telefone">
        <span>Telefone: (21) 9999-9999</span>
      </div>
      <div>
        <img src="assets/imagens/email.png" title="Ícone email" alt="Ícone email">
        <span>Email: contato@agencia.com.br</span>
      </div>
    </div>
    <div class="rodape-conteudo">
      <h2>Nossas Redes Sociais</h2>
      <div>
        <img src="assets/imagens/fb.png" title="Ícone facebook" alt="Ícone facebook">
        <span>/AgenciaDeViagem</span>
      </div>
      <div>
        <img src="assets/imagens/ig.png" title="Ícone instagram" alt="Ícone instagram">
        <span>@AgenciaDeViagem</span>
      </div>
      <div>
        <img src="assets/imagens/tt.png" title="Ícone twitter" alt="Ícone twitter">
        <span>@AgenciaDeViagem</span>
      </div>
    </div>
  </div>
</footer>
