<section class="natureza-area limite-largura">
  <h2 class="natureza-titulo">Explore a Natureza</h2>
  <h3 class="natureza-descricao">Viaje conosco e veja o melhor que a natureza tem a oferecer.</h3>
  <div class="natureza-duas-imagens">
    <figure class="natureza-imagem">
      <img src="assets/imagens/lencol.jpg" alt="Lençois Maranhenses - Brasil" title="Lençois Maranhenses - Brasil">
      <div>
        <h3>Lençois Maranhenses, Brasil</h3>
        <p>Ida e volta a partir de R$79</p>
      </div>
    </figure>
    <figure class="natureza-imagem">
      <img src="assets/imagens/goias.jpg" alt="Cachoeira Santa Bárbara - GO" title="Cachoeira Santa Bárbara - GO">
      <div>
        <h3>Cachoeira Santa Bárbara, Brasil</h3>
        <p>Ida e volta por R$139</p>
      </div>
    </figure>
  </div>
</section>
