<section class="ofertas-area limite-largura">
  <h2 class="ofertas-titulo">Ofertas</h2>
  <h3 class="ofertas-descricao">Com até <span>50%</span> de desconto.</h3>
  <div class="ofertas-imagens">
    <figure class="oferta-imagem-destaque">
      <img src="assets/imagens/rio.jpg" alt="Rio de Janeiro - Cidade Maravilhosa" title="Rio de Janeiro - Brasil">
      <figcaption>Rio de Janeiro</figcaption>
    </figure>
    <div class="oferta-quatro-imagens">
      <figure>
        <img src="assets/imagens/manaus.jpg" alt="Manaus" title="Manaus">
        <figcaption>Manaus</figcaption>
      </figure>
      <figure>
        <img src="assets/imagens/niteroi.jpg" alt="Ponte Rio-Niterói" title="Ponte Rio-Niterói - RJ">
        <figcaption>Rio de Janeiro</figcaption>
      </figure>
      <figure>
        <img src="assets/imagens/saopaulo.jpg" alt="São Paulo - SP" title="São Paulo - Brasil">
        <figcaption>São Paulo</figcaption>
      </figure>
      <figure>
        <img src="assets/imagens/maranhao.jpg" alt="Maranhão" title="Maranhão - Brasil">
        <figcaption>Maranhão</figcaption>
      </figure>
    </div>
  </div>
</section>
